<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fleet Time Calculator</title>
        <link rel="stylesheet" href="/css/calculate.css">
    </head>
    <body>
        <div class="container">
            <h1 class="title">Fleet Time Calculator</h1>
            <p>
                This calculator takes your 'Member History' and calculates the total time members were in your fleet for
                payouts. Just paste the history in the fleet data
                large text box and the start/end time of the fleet to get individual times <em>( rounded to the nearest 15m
                )</em> per player and the total time of the fleet.
            </p>
            <p class="description">
                <strong>Warning:</strong> When players leave and re-join, only their first tenure is calculated. You can,
                however, paste the results in say notepad and split them out manually.
            </p>
            <form id="fleetForm">
                <div class="input-group">
                    <label for="fleetData">Fleet Data:</label>
                    <textarea id="fleetData" rows="10" cols="50" placeholder="14:00:04 - Ni Hijan joined left fleet
13:00:04 - Ni Hijan joined as Squad Member
13:00:03 - Brofus joined as Squad Member
13:57:56 - Sprygor now has role Squad Commander
13:57:49 - Sprygor now has role Squad Member
13:57:46 - Sprygor now has role Squad Commander
                " required></textarea>
                </div>
                <div class="time-calc-container">
                    <div class="input-group">
                        <label for="startTime">Start Time:</label>
                        <input id="startTime" required placeholder="02:00">
                    </div>
                    <div class="input-group">
                        <label for="endTime">End Time:</label>
                        <input id="endTime" placeholder="13:00">
                    </div>
                    <div class="input-group">
                        <label for="totalTime">Total Time (min):</label>
                        <input type="text" id="totalTime" readonly>
                    </div>
                    <button type="submit">Calculate</button>
                </div>
            </form>

            <table id="resultTable">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Joined</th>
                        <th>Left</th>
                        <th>Time in Group (15m)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <script src="/js/calculate.js" type="text/javascript"></script>
    </body>
</html>
